
  <div class="col-md-12">
    <form [formGroup]="form" (submit)="onSubmit($event)">

      <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name or Index number" type="text" formControlName="key" >
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-label>Category</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let cate of categoryList" [value]="cate._id">
                  {{cate.name}}
                </mat-option>
              </mat-select>
             </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-label>Author</mat-label>
              <mat-select formControlName="author">
                <mat-option *ngFor="let author of authorsList" [value]="author._id">
                  {{author.name}}
                </mat-option>
              </mat-select>
             </mat-form-field>
          </div>

          <div class="row col-md-3">
            <mat-form-field class="example-full-width">
              <mat-label>Language</mat-label>
              <mat-select formControlName="language">
                <mat-option *ngFor="let item of languageList" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
             </mat-form-field>
          </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>From Date</mat-label>
            <input matInput [matDatepicker]="fromDate" formControlName="fromDate" >
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="toDate" formControlName="toDate" >
            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3"  style="margin-top:20px;">
          <mat-checkbox formControlName="inactive"  color='primary'>
            <mat-label class="check-label">View Removed Books</mat-label>
         </mat-checkbox>
      </div>
        <div class="col-md-3"  style="margin-top:10px;">
          <button mat-raised-button type="submit" class="btn btn-sm btn-primary pull-right" style="margin-right:10px;" >Search</button>
          <button mat-raised-button type="button" class="btn btn-sm btn-info pull-right" (click)='onClear()' >Clear</button>
        </div>
      </div>

  </form>
</div>


