<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                      <div class="row">
                        <h3 class="card-title author-header">Authors</h3>
                        <button type="button" class="btn btn-white add-button"
                         (click)="openDialog()"> + New Author</button>
                      </div>
                    </div>
                    <div class="card-body">

                      <div class="example-header">
                        <mat-form-field>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" >
                        </mat-form-field>
                      </div>

                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Actions </th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-raised-button type="button" matTooltip="Edit" (click)="editAuthor(element)"
                              [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">edit</i>
                              </button>
                              &nbsp;&nbsp;
                              <button mat-raised-button type="button" matTooltip="Remove" (click)="deleteAuthor(element)"
                              [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">delete</i>
                              </button>
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
                      </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>


