<div class="main-content">
    <div class="row col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
              <div class="row">
                <h3 class="card-title book-header">Books</h3>
                <button type="button" class="btn btn-white add-button"
                 (click)="openDialog()"> + New Book</button>
              </div>
            </div>
            <div class="card-body">
              <div class="example-header search">
                <app-book-search [categoryList]= 'categoryList' [authorsList]='authorsList' [languageList]='languageList'
                (filteringOptions)= 'getFilteredBookList($event)'>
                </app-book-search>
              </div>
              <div class="example-container mat-elevation-z8">

                <mat-table [dataSource]="dataSource" matSort>
                <!-- Name Column -->
                <ng-container matColumnDef="indexNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header  class=" text-primary"> Index Number </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.indexNumber}} </mat-cell>
              </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-primary"> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="author">
                    <mat-header-cell *matHeaderCellDef class="text-primary"> Author </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.author?.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                  <mat-header-cell *matHeaderCellDef class="text-primary"> Category </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.category?.name}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="language">
                  <mat-header-cell *matHeaderCellDef class="text-primary"> Language </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.languageName}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="lastUpdatedOn">
                  <mat-header-cell *matHeaderCellDef class="text-primary"> Last Updated On </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.updatedAt}}</mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-primary"> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-raised-button type="button" matTooltip="Edit" (click)="editBook(row)"
                        [disabled]="!row.isActive" [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">edit</i>
                        </button>
                        &nbsp;&nbsp;
                        <button mat-raised-button type="button" matTooltip="Remove"  (click)="removeBook(row)"
                        [disabled]="!row.isActive" [matTooltipPosition]="'above'"
                        class="btn btn-warning btn-link btn-sm btn-just-icon">
                            <i class="material-icons">delete</i>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </div>

            </div>
        </div>
    </div>
</div>





