.search{
  margin: 10px 10px 10px 20px;
}

.book-header{
  margin:10px 30px 0px 30px;
  font-weight: bold;
}

.add-button{
  margin: 0px 0px 0px 800px;
  font-weight: bolder;
  font-style: normal;
  color: purple;
}
