.close-button{
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: ls ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.category-add-header
{
  font-weight: bold;
}
