<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <!-- <div class="navbar-wrapper">
          <p  class="navbar-brand"> <b>{{getTitle()}} </b></p>
        </div> -->

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" [matMenuTriggerFor]="menu">
                        <i class="material-icons">person</i>

                    </a>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>My Profile</button>
                      <button mat-menu-item (click)="logout()">Logout</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>

